<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>服薬記録サービス</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/font.js"></script>
  </head>
  <body>
    <div class="header">
      <h1 class="title white-text">
        <a href="/">服薬記録サービス</a>
      </h1>
    </div>
    <div class="list">
      <% for medicine in @medicine do%>
        <div class="item white-text">
          <a href="/item/<%= medicine.id %>">
          <div class="text-box">
            <p><%= medicine.name%></p>
            <p><%= medicine.amount %>個</p>
          </div>
          </a>
        </div>
      <% end %>
    </div>
    <a href="/item/create" class="material-icons pos-fixed">
      <span class="material-symbols-outlined">add</span>
    </a>
  </body>
</html>